* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('PS5_bg2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ps-scroll::-webkit-scrollbar {
  height: 1px;
}

.ps-scroll::-webkit-scrollbar-track {
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 10px;
}

.ps-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #007bff, #00e5ff);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 170, 255, 0.9);
}

.ps-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #33a6ff, #33f1ff);
  box-shadow: 0 0 25px rgba(0, 170, 255, 1);
}
